{{ ansible_managed|comment(decoration="# ") }}

8bit-dns={{ 'yes' if powerdns_authoritative__8bit_dns else 'no' }}
allow-axfr-ips={{ powerdns_authoritative__allow_axfr_ips|join(',') }}
allow-dnsupdate-from={{ powerdns_authoritative__allow_dnsupdate_from|join(',') }}
allow-notify-from={{ powerdns_authoritative__allow_notify_from|join(',') }}
allow-unsigned-notify={{ 'yes' if powerdns_authoritative__allow_unsigned_notify else 'no' }}
allow-unsigned-supermaster={{ 'yes' if powerdns_authoritative__allow_unsigned_supermaster else 'no' }}
also-notify={{ powerdns_authoritative__also_notify|join(',') }}
any-to-tcp={{ 'yes' if powerdns_authoritative__any_to_tcp else 'no' }}
api={{ 'yes' if powerdns_authoritative__api else 'no' }}
api-key={{ powerdns_authoritative__api_key }}
axfr-lower-serial={{ 'yes' if powerdns_authoritative__axfr_lower_serial else 'no' }}
cache-ttl={{ powerdns_authoritative__cache_ttl }}
carbon-ourname={{ powerdns_authoritative__carbon_ourname }}
carbon-server={{ powerdns_authoritative__carbon_server }}
carbon-interval={{ powerdns_authoritative__carbon_interval }}
{% if powerdns_authoritative__chroot %}
chroot={{ powerdns_authoritative__chroot }}
{% endif %}
config-dir={{ powerdns_authoritative__config_dir }}
config-name={{ powerdns_authoritative__config_name }}
daemon={{ 'yes' if powerdns_authoritative__daemon else 'no' }}
default-ksk-algorithm={{ powerdns_authoritative__default_ksk_algorithms }}
default-ksk-size={{ powerdns_authoritative__default_ksk_size }}
default-soa-name={{ powerdns_authoritative__default_soa_name }}
default-soa-edit={{ powerdns_authoritative__default_soa_edit }}
default-soa-edit-signed={{ powerdns_authoritative__default_soa_edit_signed }}
default-soa-mail={{ powerdns_authoritative__default_soa_mail }}
default-ttl={{ powerdns_authoritative__default_ttl }}
default-zsk-algorithm={{ powerdns_authoritative__default_zsk_algorithms }}
default-zsk-size={{ powerdns_authoritative__default_zsk_size }}
direct-dnskey={{ 'yes' if powerdns_authoritative__direct_dnskey else 'no' }}
disable-axfr={{ 'yes' if powerdns_authoritative__disable_axfr else 'no' }}
disable-axfr-rectify={{ 'yes' if powerdns_authoritative__disable_axfr_rectify else 'no' }}
disable-syslog={{ 'yes' if powerdns_authoritative__disable_syslog else 'no' }}
distributor-threads={{ powerdns_authoritative__distributor_threads }}
dname-processing={{ 'yes' if powerdns_authoritative__dname_processing else 'no' }}
dnssec-key-cache-ttl={{ powerdns_authoritative__dnssec_key_cache_ttl }}
dnsupdate={{ 'yes' if powerdns_authoritative__dnsupdate else 'no' }}
do-ipv6-additional-processing={{ 'yes' if powerdns_authoritative__do_ipv6_additional_processing else 'no' }}
domain-metadata-cache-ttl={{ powerdns_authoritative__domain_metadata_cache_ttl }}
edns-subnet-processing={{ 'yes' if powerdns_authoritative__edns_subnet_processing else 'no' }}
entropy-source={{ powerdns_authoritative__entropy_source }}
expand-alias={{ 'yes' if powerdns_authoritative__expand_alias else 'no' }}
forward-dnsupdate={{ 'yes' if powerdns_authoritative__forward_dnsupdate else 'no' }}
forward-notify={{ powerdns_authoritative__forward_notify|join(',') }}
guardian={{ 'yes' if powerdns_authoritative__guardian else 'no' }}
include-dir={{ powerdns_authoritative__include_dir }}
launch={{ powerdns_authoritative__launch|join(',') }}
load-modules={{ powerdns_authoritative__load_modules|join(',') }}
local-address={{ powerdns_authoritative__local_address|join(',') }}
non-local-bind={{ 'yes' if powerdns_authoritative__non_local_bind else 'no' }}
lua-axfr-script={{ powerdns_authoritative__lua_axfr_script }}
local-address-nonexist-fail={{ 'yes' if powerdns_authoritative__local_address_nonexist_fail else 'no' }}
local-ipv6={{ powerdns_authoritative__local_ipv6|join(',') }}
local-ipv6-nonexist-fail={{ 'yes' if powerdns_authoritative__local_ipv6_nonexist_fail else 'no' }}
local-port={{ powerdns_authoritative__local_port }}
log-dns-details={{ 'yes' if powerdns_authoritative__log_dns_details else 'no' }}
logging-facility={{ powerdns_authoritative__logging_facility }}
loglevel={{ powerdns_authoritative__loglevel }}
log-dns-queries={{ 'yes' if powerdns_authoritative__log_dns_queries else 'no' }}
master={{ 'yes' if powerdns_authoritative__master else 'no' }}
max-cache-entries={{ powerdns_authoritative__max_cache_entries }}
max-ent-entries={{ powerdns_authoritative__max_ent_entries }}
max-nsec3-iterations={{ powerdns_authoritative__max_nsec3_iterations }}
max-packet-cache-entries={{ powerdns_authoritative__max_packet_cache_entries }}
max-queue-length={{ powerdns_authoritative__max_queue_length }}
max-tcp-connection-duration={{ powerdns_authoritative__max_tcp_connection_duration }}
max-tcp-connections={{ powerdns_authoritative__max_tcp_connections }}
max-tcp-connections-per-client={{ powerdns_authoritative__max_tcp_connections_per_client }}
max-tcp-transactions-per-conn={{ powerdns_authoritative__max_tcp_transactions_per_conn }}
{% if powerdns_authoritative__module_dir %}
module-dir={{ powerdns_authoritative__module_dir }}
{% endif %}
negquery-cache-ttl={{ powerdns_authoritative__negquery_cache_ttl }}
no-config={{ 'yes' if powerdns_authoritative__no_config else 'no' }}
no-shuffle={{ 'yes' if powerdns_authoritative__no_shuffle else 'no' }}
overload-queue-length={{ powerdns_authoritative__overload_queue_length }}
reuseport={{ 'yes' if powerdns_authoritative__reuseport else 'no' }}
security-poll-suffix={{ powerdns_authoritative__security_poll_suffix }}
server-id={{ powerdns_authoritative__server_id }}
only-notify={{ powerdns_authoritative__only_notify|join(',') }}
outgoing-axfr-expand-alias={{ powerdns_authoritative__outgoing_axfr_expand_alias }}
prevent-self-notification={{ 'yes' if powerdns_authoritative__prevent_self_notification else 'no' }}
query-cache-ttl={{ powerdns_authoritative__query_cache_ttl }}
query-local-address={{ powerdns_authoritative__query_local_address }}
query-local-address6={{ powerdns_authoritative__query_local_address6 }}
query-logging={{ 'yes' if powerdns_authoritative__query_logging else 'no' }}
queue-limit={{ powerdns_authoritative__queue_limit }}
receiver-threads={{ powerdns_authoritative__receiver_threads }}
resolver={{ powerdns_authoritative__resolver|join(',') }}
retrieval-threads={{ powerdns_authoritative__retrieval_threads }}
setgid={{ powerdns_authoritative__setgid }}
setuid={{ powerdns_authoritative__setuid }}
slave={{ 'yes' if powerdns_authoritative__slave else 'no' }}
slave-cycle-interval={{ powerdns_authoritative__slave_cycle_interval }}
slave-renotify={{ 'yes' if powerdns_authoritative__slave_renotify else 'no' }}
signing-threads={{ powerdns_authoritative__signing_threads }}
soa-expire-default={{ powerdns_authoritative__soa_expire_default }}
soa-minimum-ttl={{ powerdns_authoritative__soa_minimum_ttl }}
soa-refresh-default={{ powerdns_authoritative__soa_refresh_default }}
soa-retry-default={{ powerdns_authoritative__soa_retry_default }}
socket-dir={{ powerdns_authoritative__socket_dir }}
tcp-control-address={{ powerdns_authoritative__tcp_control_address }}
tcp-control-port={{ powerdns_authoritative__tcp_control_port }}
tcp-control-range={{ powerdns_authoritative__tcp_control_range|join(',') }}
tcp-control-secret={{ powerdns_authoritative__tcp_control_secret }}
tcp-fast-open={{ powerdns_authoritative__tcp_fast_open }}
tcp-idle-timeout={{ powerdns_authoritative__tcp_idle_timeout }}
traceback-handler={{ 'yes' if powerdns_authoritative__traceback_handler else 'no' }}
trusted-notification-proxy={{ powerdns_authoritative__trusted_notification_proxy }}
udp-truncation-threshold={{ powerdns_authoritative__udp_truncation_threshold }}
version-string={{ powerdns_authoritative__version_string }}
webserver={{ 'yes' if powerdns_authoritative__webserver else 'no' }}
webserver-address={{ powerdns_authoritative__webserver_address }}
webserver-allow-from={{ powerdns_authoritative__webserver_allow_from|join(',') }}
webserver-password={{ powerdns_authoritative__webserver_password }}
webserver-port={{ powerdns_authoritative__webserver_port }}
webserver-print-arguments={{ 'yes' if powerdns_authoritative__webserver_print_arguments else 'no' }}
write-pid={{ 'yes' if powerdns_authoritative__write_pid else 'no' }}
xfr-max-received-mbytes={{ powerdns_authoritative__xfr_max_received_mbytes }}
